:root {
    /* Light theme */
    --background: #F2E8D8;
    --backgroundCard: #F7EFE2;
    --border: #D6C3A5;
    --textPrimary: #4A3A2A;
    --textSecondary: #7A6A55;

        /*===== Text Shadow -cs-> Stín textu =====*/
    --text-shadow-soft:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;

    --text-shadow-emphasis:
        -1px -1px 0 #F1F1F1,
        0 -1px 0 #F1F1F1,
        1px -1px 0 #F1F1F1,
        1px 0 0 #F1F1F1,
        1px 1px 0 #F1F1F1,
        0 1px 0 #F1F1F1,
        -1px 1px 0 #F1F1F1,
        -1px 0 0 #F1F1F1;

    /* Dark theme */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    color: var(--textSecondary);
    background-color: var(--background);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    margin: auto;
}

main {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 30px);
    margin: 0 auto;
    padding: 70px 20px 20px 20px;
    text-shadow: var(--text-shadow-emphasis);
}

.indian-main-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        "title title"
        "desc desc"
        "date date"
        "card zodiac";
}

/* --- TITLE --- */
.wrapper-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-area: title;
}

.wrapper-title img {
    height: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    width: auto;
}

.wrapper-title h1 {
    font-family:  "Cormorant Garamond", serif;
    font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
    color: var(--textPrimary);
}

.introductory-text {
    width: 100%;
    height: 200px;
    grid-area: desc;
    border: 1px solid black;
}

.input-date {
    width: 100%;
    height: 200px;
    grid-area: date;
    border: 1px solid blue;
}

.result-card {
    height: 350px;
    grid-area: card;
    border: 1px solid forestgreen;
}

.grid-zodiac {
    height: 350px;
    grid-area: zodiac;
    border: 1px solid darkred;
}

footer {
    width: 100%;

}